<div class="s-q-item__footer">
  {%- if item.notes %}
    <span>{{ item.notes }}</span>
  {%- endif %}
  {%- if item.sources.length > 0 %}
    {%- if item.notes %}&nbsp;&ndash;&nbsp;{% endif %}
    {%- if item.sources.length > 1 %}
      Quellen:
    {%- else %}
      Quelle:
    {%- endif %}
    
    {%- for source in item.sources %}
      
      {%- if source.text !== "" %}
        {%- if source.link and source.link.isValid %}
          <a href="{{ source.link.url }}" target="blank" rel="noopener noreferrer">{{ source.text }}</a>
        {%- else %}
          {{ source.text }}
        {%- endif %}
        {% if not loop.last %}, {% endif %}
      {%- endif %}

    {%- endfor %}
  {%- endif %}
  {%- if metaData.length > 0 %}
    {%- for cell in metaData -%}
      {%- if cell.data.footnote -%}
      <div class="q-table-footer-footnote">
        <span class="q-table-footnote-index"
        {%- if loop.index >= 10 -%}
          style="width: 9px!important"
        {%- endif -%}>
        {{loop.index}}</span><span class="q-table-footnote-text"> {{cell.data.footnote}}</span>
      </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endif %}
</div>
