<div class="s-q-item__footer">
  {%- if item.notes %}
    <span>{{ item.notes }}</span>
  {%- endif %}
  {%- if item.sources.length > 0 %}
    {%- if item.notes %}&nbsp;&ndash;&nbsp;{% endif %}
    {%- if item.sources.length > 1 %}
      Quellen:
    {%- else %}
      Quelle:
    {%- endif %}
    
    {%- for source in item.sources %}
      
      {%- if source.text !== "" %}
        {%- if source.link and source.link.isValid %}
          <a href="{{ source.link.url }}" target="blank" rel="noopener noreferrer">{{ source.text }}</a>
        {%- else %}
          {{ source.text }}
        {%- endif %}
        {% if not loop.last %}, {% endif %}
      {%- endif %}

    {%- endfor %}
  {%- endif %}
  {%- if item.metaData.cells.length > 0 %}
    {%- for cell in item.metaData.cells -%}
      {%- if cell.data.footnote -%}
      <span class="q-table-footnote">{{loop.index}}</span> {{cell.data.footnote}}
      {% if not loop.last %}<br />{% endif %}
      {%- endif -%}
    {%- endfor -%}
  {%- endif %}
</div>
