{%- if minibar.type==="mixed"%}
  <td 
  {% if item.options.hideTableHeader !== true %}
    data-label="{{ item.data[0][loop.index0].value }}" 
  {% endif %} 
  data-minibar="{{minibar.type}}"
  class="q-table__cell 
  {% if item.options.minibar.selectedColumn+1 === loop.index and item.options.minibar.selectedColumn != null and not initWithCardLayout %}
    q-table-minibar--{{minibar.values[row_loop.index].type}}">
    <div data-minibar="{{minibar.values[row_loop.index].type}}" data-minibar-type="value" class="q-table-minibar-alignment--{{minibar.values[row_loop.index].type}} q-table__cell q-table__cell--{{cell.type}}">
    {{ cell.value }}
    </div>
  {% else %}q-table__cell--{{cell.type}}">
    {{ cell.value }}
  {% endif %}
  {%- if item.options.minibar.selectedColumn+1 === loop.index and item.options.minibar.selectedColumn != null and not initWithCardLayout %}
    {% if minibar.values[row_loop.index].type !== "empty" %}
      <div data-minibar="{{minibar.values[row_loop.index].type}}" data-minibar-type="bar" class="q-table-minibar-bar--{{minibar.values[row_loop.index].type}} q-table-minibar--{{minibar.values[row_loop.index].type}} 
      {% if minibar.values[row_loop.index].type === "positive" -%}
        {{item.options.minibar.barColor.positive.className}}
      {%- else -%}
        {{item.options.minibar.barColor.negative.className}}
      {%- endif -%}"  
      style="width: {{minibar.values[row_loop.index].value}}%;
      {%- if minibar.values[row_loop.index].type === "positive" -%}
        background-color: {{item.options.minibar.barColor.positive.colorCode}};
      {%- else -%}
        background-color: {{item.options.minibar.barColor.negative.colorCode}};
      {%- endif -%}">
      </div>
    {% endif %}
    </td>
  {%- endif %} 
{% else %}
  {%- if minibar.type==="positive" %}
    <td 
      {% if item.options.hideTableHeader !== true %}data-label="{{ item.data[0][loop.index0].value }}" {% endif %} 
      class="q-table__cell q-table__cell--{{ cell.type }}
      {%- if item.options.minibar.selectedColumn+1 === loop.index and item.options.minibar.selectedColumn != null and not initWithCardLayout %}
      q-table-minibar-cell--value" data-minibar-type="value" data-minibar="{{minibar.type}}" style="padding-left: 12px;
      {% endif %}">
        {{ cell.value }}
    </td>
    {%- if item.options.minibar.selectedColumn+1 === loop.index and item.options.minibar.selectedColumn != null and not initWithCardLayout %}
      <td data-minibar="{{minibar.type}}" class="q-table-minibar-cell" style="padding-right: 12px;">
        <div data-minibar-type="bar" class="q-table-minibar-bar--{{minibar.values[row_loop.index].type}}
        {% if minibar.values[row_loop.index].type === "positive" -%}
          {{item.options.minibar.barColor.positive.className}}
        {%- else -%}
          {{item.options.minibar.barColor.negative.className}}
        {%- endif -%}"
        {% if minibar.values[row_loop.index].type !== "empty" %}
        style="width: {{minibar.values[row_loop.index].value}}%;
          {%- if minibar.values[row_loop.index].type === "positive" -%}
            background-color: {{item.options.minibar.barColor.positive.colorCode}};
          {%- else -%}
            background-color: {{item.options.minibar.barColor.negative.colorCode}};
          {%- endif -%}"
        {% endif %}>
        </div>
      </td> 
    {%- endif %} 
  {% else %} 
      {%- if item.options.minibar.selectedColumn+1 === loop.index and item.options.minibar.selectedColumn != null and not initWithCardLayout %}
      <td class="q-table-minibar-cell" data-minibar="{{minibar.type}}" style="padding-left: 12px; padding-right: 0px !important;">
        <div data-minibar-type="bar" class="q-table-minibar-bar--{{minibar.values[row_loop.index].type}}
        {%if minibar.values[row_loop.index].type === "positive" -%}
          {{item.options.minibar.barColor.positive.className}}
        {%- else -%}
          {{item.options.minibar.barColor.negative.className}}
        {%- endif -%}"  
        {% if minibar.values[row_loop.index].type !== "empty" %}
        style="width: {{minibar.values[row_loop.index].value}}%;
          {%- if minibar.values[row_loop.index].type === "positive" -%}
            background-color: {{item.options.minibar.barColor.positive.colorCode}};
          {%- else -%}
            background-color: {{item.options.minibar.barColor.negative.colorCode}};
          {%- endif -%}"
        {% endif %}>
        </div>
      </td> 
    {%- endif %} 
    <td 
    {% if item.options.hideTableHeader !== true %}data-label="{{ item.data[0][loop.index0].value }}" {% endif %} 
    class="q-table__cell q-table__cell--{{ cell.type }}
    {%- if item.options.minibar.selectedColumn+1 === loop.index and item.options.minibar.selectedColumn != null and not initWithCardLayout %}
    q-table-minibar-cell--value" data-minibar="{{minibar.type}}" data-minibar-type="value" style="padding-right: 12px;
    {% endif %}">
      {{ cell.value }}
    </td>
  {% endif %}
{% endif %}