<div class="s-q-item q-table {% if initWithCardLayout %}q-table--card-layout{% endif %}" id="{{ id }}" style="opacity: 0;">
  {% if displayOptions.hideTitle !== true %}
  <h3 class="s-q-item__title">{{ item.title }}</h3>{% endif %} {%- if item.subtitle and item.subtitle !== '' %}
  <div class="q-table__subtitle s-font-note">{{ item.subtitle }}</div>
  {%- endif %}
  <table class="q-table__table">
    {%- if item.options.hideTableHeader !== true %}
    <thead class="s-font-note s-font-note--strong">
      {%- for head in item.data[0] %}
      <th class="q-table__cell q-table-cell--head q-table__cell--{{ head.type }}"
      {%- if item.options.minibarOptions+2 === loop.index and item.options.minibarOptions != null and minibar.type !== "mixed" and not initWithCardLayout %}
      colspan="2" id="q-table-minibar-header"
      {% elif minibar.type === "mixed" and item.options.minibarOptions+2 === loop.index %}
      id="q-table-minibar-header"
      {% endif %}>
          {{ head.value }}
      </th> 
      {%- endfor %}
    </thead>
    {%- endif %}
    <tbody class="s-font-note">
      {%- for row in item.data.slice(1) %}
      {% set row_loop = loop %}
      <tr {% if numberOfRowsToHide and loop.index >= (item.data.length - numberOfRowsToHide) %}style="display: none;"{% endif %}>
        {%- for cell in row %}
          {% include "./minibar.html" %}
        {%- endfor %}
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {% include "./footer.html" %}
</div>