.q-table {
  opacity: 1 !important;
}

.q-table__subtitle {
  margin-bottom: 12px;
}

.q-table__cell {
  text-align: left !important;
}

.q-table__cell--numeric {
  text-align: right !important;
}

.q-table {
  table {
    border-collapse: collapse;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
    empty-cells: show;
  }
  table thead {
    background: unset;
  }
  table tbody tr {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e9e9ee;
  }
  table th,
  table td {
    padding: 4px;
    border: none !important;
  }
  table th {
    font-weight: unset;
  }
}

.q-table--card-layout {
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: 6px;
  }
  table td {
    display: block;
  }

  table > tbody:first-child {
    td {
      text-align: left !important;
    }
  }

  // apply the label pseudo element and changed text-align only if we have a head
  // we do not have a head if the option hideTableHeader is set to true
  table thead + tbody {
    td {
      text-align: right !important;
    }
    td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: 500;
    }
    table td::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  table td:last-child {
    border-bottom: 0;
  }
}
