<td   
  {% if item.options.hideTableHeader !== true -%} 
    data-label="{{ tableData[0][loop.index0].value }}
    {%- if (item.options.cardLayout or item.options.cardLayoutIfSmall) and tableData[0][loop.index0].footnote !== null and row_loop.index0 === 0 -%}
      {{tableData[0][loop.index0].footnote.unicode}}
    {%- endif -%}"
  {% endif %} 
  {% if colorColumn.selectedColumn===loop.index0 and colorColumn.selectedColumn !==null and not initWithCardLayout %}
    {% if colorColumn.colors[row_loop.index-1].customColor %} 
      class="q-table__cell q-table__cell--{{ cell.type }} {{cell.classes.join(" ")}}" style="background-color: {{colorColumn.colors[row_loop.index-1].customColor}};" 
    {% else %}
      class="q-table__cell q-table__cell--{{ cell.type }} {{cell.classes.join(" ")}} {{colorColumn.colors[row_loop.index-1].colorClass}}" style="background-color: currentColor;" 
    {% endif %}
  {% else %}
    class="q-table__cell q-table__cell--{{ cell.type }} {{cell.classes.join(" ")}}" 
  {% endif %}>

  {%- if cell.footnote %}
    {%- if colorColumn.selectedColumn===loop.index0 and colorColumn.selectedColumn !==null and not initWithCardLayout -%}
      <span data-annotation="{{ cell.footnote.value }}" class="q-table-annotation {{ colorColumn.colors[row_loop.index-1].textColor }}">
    {% else %}
      <span data-annotation="{{ cell.footnote.value }}" class="q-table-annotation">
    {%- endif -%}      
  {% else %}
    {%- if colorColumn.selectedColumn===loop.index0 and colorColumn.selectedColumn !==null and not initWithCardLayout -%}
      <span class="{{ colorColumn.colors[row_loop.index-1].textColor }}">
    {% else %}
      <span>
    {%- endif -%}      
  {%- endif -%}
  {%- if colorColumn.selectedColumn===loop.index0 and colorColumn.selectedColumn !==null %}
    {%- if colorColumn.colorColumnType === "numerical" -%}
      {%- if colorColumn.formattedValues[row_loop.index0] === null or colorColumn.formattedValues[row_loop.index0] === undefined  -%}
        --
      {%- else -%}
        {{colorColumn.formattedValues[row_loop.index0]}}  
      {%- endif -%}    
    {%- else -%}  
      {{cell.value}}  
    {%- endif -%}  
  {%- else -%}
    {{ cell.value }}</span>
  {%- endif -%}
</td>